<!DOCTYPE html>
<title>Olivia's Friends</title>
<link rel = "stylesheet" href = "/stylesheets/friendStyle.css">
<div id = "title">
  <h1>Olivia's Friends</h1>
  <h2>(I wish) </h2>
  <h2><a href = "/">Home</a>
  </h2>
</div>
<ul>
  <li>Michelle Obama
    <p></p>
    <img id = "michelle" src="/stylesheets/michelle.jpg" width = "300">
  </li>
  <li>Beyonce
    <p></p>
    <img id = "beyonce" src="/stylesheets/beyonce.jpg" width = "300">
  </li>
  <li>Tina Fey
    <p></p>
    <img id = "tina" src="/stylesheets/tina.jpg" width = "300">
  </li>
</ul>
