<form method=POST action ="/result">
<title>What Silicon Valley Company are you?</title>
  <h2>Who is your favorite CEO</h2>
  <p><input type = "radio" name = "question1" value = "val1">Jeff Bezos</input></p>
  <p><input type = "radio" name = "question1" value = "val2">Sundar Pichai</input></p>
  <p><input type = "radio" name = "question1" value = "val3">Mark Zuckerberg</input></p>
  <p><input type = "radio" name = "question1" value = "val4">Marc Benioff</input></p>
  <p><input type = "submit" value = "Submit!"/></p>
  <h2>What is your favorite website to use?</h2>
  <p><input type = "radio" name = "question1" value = "val1">Amazon</input></p>
  <p><input type = "radio" name = "question1" value = "val2">Google</input></p>
  <p><input type = "radio" name = "question1" value = "val3">Facebook</input></p>
  <p><input type = "radio" name = "question1" value = "val4">LinkedIn</input></p>
  <p><input type = "submit" value = "Submit!"/></p>
  <h2>What is your favorite thing to do?</h2>
  <p><input type = "radio" name = "question1" value = "val1">Online shopping</input></p>
  <p><input type = "radio" name = "question1" value = "val2">Research</input></p>
  <p><input type = "radio" name = "question1" value = "val3">Chat with friends</input></p>
  <p><input type = "radio" name = "question1" value = "val4">Work on my resume</input></p>
  <p><input type = "submit" value = "Submit!"/></p>
