<h2>Mad Libs</h2>
<form method = "POST" action = "/story">
  <p>Please enter a protagonist name: <input type = "text" name = "protagonist"/></p>
  <p>Please enter an event: <input type = "text" name = "event"/></p>
  <p>Please enter a plural noun:<input type = "text" name = "pluralNoun"/></p>
  <p>Please enter a name:<input type = "text" name = "name"/></p>
  <p>Please enter a skill:<input type = "text" name = "skill"/></p>
  <p>Please enter a number:<input type = "text" name = "number"/></p>
  <p>Please enter a larger number:<input type = "text" name = "largerNumber"/></p>
  <p>Please enter a place:<input type = "text" name = "place"/></p>
  <p>Please enter a adjective:<input type = "text" name = "adjective"/></p>
  <p>Please enter a noun.:<input type = "text" name = "noun"/></p>
  <br>
    <input type = "submit" value = "Create Story"/>
  </br>

</form>
