Once upon a time, there was a {{protagonist}} that attended {{event}}. The
{{protagonist}} made a lot of {{pluralNoun}}. But {{protagonist}} messed
around and didn't learn much. {{name}} went over to help out {{protagonist}}
with {{skill}}. {{protagonist}} didn't pay attention, and when there was a pop
quiz later that day, they got {{number}} questions right.
The quiz suddenly exploded and {{{protagonist}}} flew out of {{place}}. That's when
{{protagonist}} woke up and realized that it was all a {{adjective}} {{noun}}.
