The lights on the dashboard begin to blink rapidly, and the car starts to shake.
The metal pannels rotate and shift until the dorky self-driving car transforms
into a DeLorean. The car suddenly begins to accelerate, driving onto highway
101 until finally reaching 88 mph. There is a bright flash of light, and you see
the date change from Monday, July 23 2018 to Monday, July 23 1988.

What do you do?
<ul>
  <li><a href = "/pullover">Pull over and look around</a></li>
  <li><a href = "/drive">Drive to your house</a></li>
